In [1]:
import pandas as pd

In [6]:
data_to_load = "Resources/sales_data.csv"

In [7]:
sales_data_df = pd.read_csv(data_to_load)
sales_data_df

,Country,Item Type,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Tuvalu,Baby Food,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Grenada,Cereal,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Russia,Office Supplies,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sao Tome and Principe,Fruits,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Rwanda,Office Supplies,5062,651.21,524.96,3296425.02,2657347.52,639077.50
...,...,...,...,...,...,...,...,...
95,Mali,Clothes,888,109.28,35.84,97040.64,31825.92,65214.72
96,Malaysia,Fruits,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sierra Leone,Vegetables,1485,154.06,90.93,228779.10,135031.05,93748.05
98,Mexico,Personal Care,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Mozambique,Household,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [9]:
sales_data_df.dtypes

Country           object
Item Type         object
Units Sold         int64
Unit Price       float64
Unit Cost        float64
Total Revenue    float64
Total Cost       float64
Total Profit     float64
dtype: object

In [11]:
sales_data_df.columns

Index(['Country', 'Item Type', 'Units Sold', 'Unit Price', 'Unit Cost',
       'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')